.form-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.input-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

.flex-grow-1 {
  flex: 1;
}

.ac-item {
  display: flex;
  align-items: flex-start;
  padding: 8px 10px;
  line-height: 1.3;

  .details {
    display: flex;
    flex-direction: column;
  }

  .main-line {
    font-weight: 600;
    display: flex;
    gap: 6px;

    .country {
      color: gray;
    }
  }

  .sub-line {
    margin-top: 2px;
  }

  .info-line {
    margin-top: 4px;
    color: gray;
    font-size: 0.8rem;
  }
}

.ac-selected {
  display: flex;
  align-items: center;
}

